body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f1ddbf, #525e75);
    text-align: center;
    color: #1b4552;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background: #008585;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #74a892;
}

#weatherInfo {
    margin-top: 20px;
}
